#welcome {
  font-family:system-ui;
  font-weight: bold;
  padding-top: 15px;
  font-size: 250%;
  padding-left: 100px;
}

.display-box {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#preloader{
  background: #000 url(loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* ------------- */

.login_mb-4{
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:25%;
   height:auto;
}
.login_mb-3{
    text-align:center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
}
.login_body{
    display:flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
}
.form-signin{
    max-width:650px;
    padding:15px;
    padding-top:150px;
}
#loading-screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loading-screen .spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #ccc;
    border-top-color: #555;
    border-radius: 50%;
    animation: spin 2s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .hidden {
    display: none;
  }
  .loadtext{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    margin-left: 8px;
    font-size: 275%;
  }
  .p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    margin-left:auto;
  }