<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
      <!-- <p id="welcome" style='
          font-family:system-ui;
          font-weight: bold;
          padding-top: 15px;
          font-size: 250%;
          padding-left: 100px;
          text-align: center;
          '>Welcome Back, {{ username }}</p> -->
        <div class="container">
          <p  class="h3 fw-normal" id="welcome">Welcome Back, {{ username }}</p>
            <h3>Empowering Lives, Unveiling Health</h3>
            <form action='' method='POST'>
              <div class="form-group">
                <label for="age">Age:</label>
                <select class="form-control" id="age" name="age">
                  <option value="">Select age</option>
                  <option value="40-44">40-44</option>
                  <option value="45-49">45-49</option>
                  <option value="50-54">50-54</option>
                  <option value="55-59">55-59</option>
                  <option value="60-64">60-64</option>
                  <option value="65-69">65-69</option>

                </select>
              </div>
              <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender">
                  <option value="">Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="activity">Physical Activity Level:</label>
                <select class="form-control" id="activity" name="activity">
                  <option value="">Select activity level</option>
                  <option value="little to no">Sedantary (little to no physical activity))</option>
                  <option value="1-3 times a week">Lightly active (light exercise or activities 1-3 times a week)</option>
                  <option value="3-5 times a week">Moderately active (moderate exercise or activities 3-5 times a week)</option>
                  <option value="6-7 times a week">Very active (intense exercise or activities 6-7 times a week)</option>
                  <option value="">Extremely active (intense daily exercise or rigorous training)</option>
                  
                </select>
              </div>
              
              <div class="form-group">
                <label for="calorie">Calorie Intake:</label>
                <select class="form-control" id="calorie" name="calorie">
                  <option value="">Select calories</option>
                  <option value="less than 1500">Low (<1500 calories per day)</option>
                  <option value="1500-2000">Moderate (1500-2000 calories per day)</option>
                  <option value="more than 2000">High (>2000 calories per day)</option>
                </select>
              </div>

              <div class="form-group">
                <label for="carbs">Carbohydrate Intake:</label>
                <select class="form-control" id="carbs" name="carbs">
                  <option value="">Select intake</option>
                  <option value="low">Low</option>
                  <option value="moderate">Moderate</option>
                  <option value="high">High</option>
                </select>
              </div>

              <div class="form-group">
                <label for="fat">Fat Intake:</label>
                <select class="form-control" id="fat" name="fat">
                  <option value="">Select intake</option>
                  <option value="low">Low</option>
                  <option value="moderate">Moderate</option>
                  <option value="high">High</option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="smoking-status">Smoking Status:</label>
                <select class="form-control" id="smoking-status" name="smoking-status">
                  <option value="">Select smoking status</option>
                  <option value="smoke">Yes</option>
                  <option value="dontsmoke">No</option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="alcohol-status">Alcohol Consumption:</label>
                <select class="form-control" id="alcohol-status" name="alcohol-status">
                  <option value="">Select amount of alcohol consumption</option>
                  <option value="no">Non-drinker</option>
                  <option value="1-2 times a month">Occasional drinker (1-2 drinks per month)</option>
                  <option value="1-2 times a week">Frequent drinker (1-2 drinks per week)</option>
                  <option value="more than 2 times a week">Heavy drinker (3 or more drinks per week)</option>
                </select>
              </div>
                
              <div class="form-group">
                <label for="pregnant">Pregnant status:</label>
                <select class="form-control" id="pregnant" name="pregnant"7>
                  <option value="">Select your pregnancy status</option>
                  <option value="Pregnant">Pregnant</option>
                  <option value="Not pregnant">Not pregnant </option>
                </select>
              </div>

              <div class="form-group">
                <label for="height">Height (in meters):</label>
                <br>
                <input type="text" name="height" id="height">
              </div>
                
              <div class="form-group">
                <label for="weight">Weight (in kilograms):</label>
                <br>
                <input type="text" name="weight" id="weight">
              </div>
              
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
    </body>
</html>